h1{
    text-align: center;
}

.control{
    height:50px;
    width:120px;
    display:inline-block;
    border: 1px solid pink;
    margin:20px;
}

.controlWrapper{
    text-align: center;
}


#timer{
    height:200px;
    width:200px;
    border:1px solid pink;
    border-radius:50%;
    margin:20px auto;
}
.footer{
    margin-top: 20px;
    text-align: center;
}
#timer{
    text-align: center;
}

#buttons{
    text-align: center;
}
/*#timerBreak{*/
    /*display: none;*/
/*}*/